*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    padding: 10px 5px;
    align-items: center;
}
.ul-nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
}
.common-btn{
    background-color: #2563EB;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.hero-section{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('../assets/banner.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
    text-align: center;
    color: white;
    padding: 30px;
    
}
.hero-section h1{
    font-size: 50px;
    padding: 120px 0 20px 0;
}
.hero-section p{
    max-width: 500px;
    text-align: center;
    justify-content: center;
}
.register-btn-parent{
    padding: 0 0 100px 0;
}
#register-btn{
    font-size: 20px;
}
.speaker-info-container{
    text-align: center;
    padding: 50px 0 50px 0;
}
.upperside-box-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.lowerside-box-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.speakers{
    overflow: hidden;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
}
.all-box-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.all-box-container .speakers img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.speciality{
    color: #2563EB;
    font-size: 12px;
}
.speaker-profession{
    font-size: 14px;
    color: #575757;

}
.all-box-container .speakers h6{
    font-size: 20px;
    padding: 5px 0;
}
.box-info{
    padding: 20px;
}
/* speaker info ended */
/* price boxes started */
.card-header{
    text-align: center;
    font-size: 30px;
    padding: 80px 0 10px 0;
}
.card-header-texts{
    text-align: center;
    font-size: 16px;
    padding: 10px 0 20px 0;
}
.price-box-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 50px 0 50px 0;
    max-width: 1200px;
    margin: auto;
    justify-content: center;
}
.price-box-1{
    border: 2px solid #E5E7EB;
    border-radius: 10px;
    padding: 40px;
    height: 400px;
}
.price-box-2{
    border: 2px solid #0D1B2A;
    border-radius: 10px;
    padding: 40px;
    background-color: #0D1B2A;
    color: #FFFFFF;
    height: 400px;
}
.price-box-1 ul li::marker{
    color: #2563EB;
}
.price-box-1 ul li{
    font-size: 14px;
    color: #575757;
    gap: 15px;
}
.price-box-2 ul li::marker{
    color: #2563EB;
}
.price-box-2 ul li{
    font-size: 14px;
    color: #FFFFFF;
    gap: 15px;
}
.light-color{
    color: #575757;
}
.blue-color{
    color: #2563EB;
}
.button-container{
    margin-top: 50px;
}
.card-texts{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}
#card-1-btn{
    border: 2px solid #2563EB;
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    text-align: center;
    width: 100%;
    cursor: pointer;
}
#card-2-btn{
    border: 2px solid #2563EB;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #2563EB;
    text-align: center;
    width: 100%;
    cursor: pointer;
}
#card-3-btn{
    border: 2px solid black;
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    text-align: center;
    width: 100%;
    cursor: pointer;
}
.light-white-color{
    color: #F8FAFC;
}